In [1]:
import pandas as pd

# Подготовка данных

In [10]:
# read data and drop nan values
ege_result_df = pd.read_csv('students_polling_code.csv')[['Кодировка','Балл ЕГЭ','Код ученика']].dropna()
ege_result_df.head()

                             Кодировка  Балл ЕГЭ Код ученика
0       mat_ege_max_on_w2_071018_32kum      56.0          s0
1          mat_ege_max_w1_080918_61blm      55.0          s1
2         rus_ege_max_w2_021018_107kum      78.0          s1
3  eng_ege_int_ctp_mini_on_150219_2web      91.0          s2
4           soc_ege_max_w2_071018_2irk      81.0          s3

In [11]:
# get subject name
ege_result_df['Кодировка'] = ege_result_df['Кодировка'].str.split('_')
ege_result_df['Кодировка'] = ege_result_df['Кодировка'].str[0]
ege_result_df['Кодировка'] = ege_result_df['Кодировка'].str.lower()

ege_result_df.head()

  Кодировка  Балл ЕГЭ Код ученика
0       mat      56.0          s0
1       mat      55.0          s1
2       rus      78.0          s1
3       eng      91.0          s2
4       soc      81.0          s3

# Описание набора данных

В данном наборе данных представлены результаты егэ учащихся за 2019 год и состоит из трех столбцов: Кодировка - название предмета, Балл ЕГЭ - результат экзамена, Код ученика - идентификатор ученика.

In [13]:
ege_result_df.shape

(6050, 3)

In [14]:
ege_result_df_clean = ege_result_df.groupby(['Кодировка','Код ученика']).max().reset_index()
ege_result_df_clean.shape

(5995, 3)